<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>untitled</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/master.css">
</head>

<body>
  <div id="wrapper" class="">
    <div id="header" class="">
      <h1>Header</h1>
    </div>
    <div id="main" class="">
      <p>This is the main body of text</p>
    </div>
    <div id="footer" class="">
      <p>This is the footer section</p>
    </div>
  </div>
  
  
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.6.1.min.js">\x3C/script>')</script>
</body>
</html>